
hr{
    background: white;  
}

.contact-form{
    background: rgba(203,67,53,0.8);
    color:white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px #CB4335;
}

a {
	color: #CB4335;
	text-decoration: none;
}

a:hover {
	color: black;
}

.test1{
	color: red;
}


#m {
	display: block;
	margin-top: -50px;
	font-weight: 900;
}


img{
	border-radius: 50%;
}
.img-circle{
	width: 50%;
	height: 40%;

}
.aProposNous{
	margin-top: 5%;
	margin-bottom: 4%;
}